<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
    </configSections>
    <connectionStrings>
      <add name="PadronConnectionString" connectionString="Server=10.1.232.22; Database=Padron;User ID=sa;Password=ssecure; Trusted_Connection=False;"/>
    </connectionStrings>
    <SubSonicService defaultProvider="padronProvider" enableTrace="false" templateDirectory="">
      <providers>
        <clear/>
        <add name="padronProvider" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="PadronConnectionString" generatedNamespace="DalPadron" includeTableList="Pd_*" includeSpsList="*" generateLazyLoads="true" />
      </providers>
    </SubSonicService>
</configuration>