<?xml version="1.0"?><configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
  <sectionGroup name="businessObjects"><sectionGroup name="crystalReports"><section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/></sectionGroup></sectionGroup></configSections>
  <connectionStrings>
    <add name="InsConnectionString" connectionString="Server=localhost\SQL2014; Database=SIPSHospital;User ID=sa;Password=ssecure; Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
    <add name="SIntegralHDevConnectionString" connectionString="Data Source=localhost\SQL2014;Initial Catalog=SIPSHospital;Persist Security Info=True;User ID=sa;Password=ssecure" providerName="System.Data.SqlClient"/>
    <add name="PadronConnectionString" connectionString="Server=localhost\SQL2014; Database=Padron;User ID=sa;Password=ssecure; Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
    <add name="SSOMembershipProviderConnectionString" connectionString="Data Source=localhost\SQL2014;Initial Catalog=SSO;User ID=sa;Password=ssecure;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <SubSonicService defaultProvider="insProvider" enableTrace="false" templateDirectory="">
    <providers>
      <clear/>
      <add name="insProvider" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="InsConnectionString" generatedNamespace="DalInsumos" generateLazyLoads="true" includeTableList="Sys_*|INS_*" includeSpsList="*" includeViewList="SYS_*|INS_*" generateRelatedTablesAsProperties="true"/>
      <add name="padronProvider" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="PadronConnectionString" generatedNamespace="DalPadron" generateLazyLoads="true" includeTableList="Pd_*" includeSpsList="*" includeViewList="*"/>
      <add name="depProvider" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="DepConnectionString" generatedNamespace="DalDeposito" generateLazyLoads="true" includeTableList="*" includeSpsList="*" includeViewList="*" generateRelatedTablesAsProperties="true"/>
    </providers>
  </SubSonicService>
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="idHCastro" value="745"/>
    <add key="conexionDepo" value="110"/>
    <add key="WSCronicos.WebService" value="https://10.1.72.7/dotnet/Historias/Services/WebService.asmx"/>
    <add key="WSInternados.WebServices" value="https://10.1.72.7/dotnet/Internacion/Services/WebServices.asmx"/>
  </appSettings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <globalization fileEncoding="iso-8859-1" requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" culture="es-AR" uiCulture="es-AR" />
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </assemblies>
    <buildProviders><add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></buildProviders></compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <sessionState timeout="540" mode="Custom" customProvider="SSOSessionProvider">
      <providers>
        <add name="SSOSessionProvider" type="Salud.Security.SSO.SSOSessionStateStore"/>
      </providers>
    </sessionState>
    <membership defaultProvider="SSOMembershipProvider">
      <providers>
        <add name="SSOMembershipProvider" type="Salud.Security.SSO.SSOMembershipProvider" connectionStringName="SSOMembershipProviderConnectionString" alwaysAuthenticate="false" allowAnonymousAccessToImages="true" allowAnonymousAccessToScripts="true" updateTimeoutOnWebMethod="false" useCache="false" cookieName="SSO_AUTH_COOKIE_SSS"/>
      </providers>
    </membership>
    <pages theme="Default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="highchart" namespace="Highchart.UI" assembly="Highchart"/>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
        <add tagPrefix="salud" namespace="Salud.Applications.Shared.UI" assembly="Salud.Applications.Shared"/>
      </controls>
    </pages>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    <httpRuntime executionTimeout="1200"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="false">
      <add name="SSOHttpModule" type="Salud.Security.SSO.SSOHttpModule"/>
    </modules>
  </system.webServer>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>
  </system.net>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
<businessObjects><crystalReports><rptBuildProvider><add embedRptInResource="true"/></rptBuildProvider></crystalReports></businessObjects></configuration>