<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
  </configSections>
  <connectionStrings>
  <add name="InsConnectionString" connectionString="Server=localHost\SQL2014; Database=SIPSHospital;User ID=sa;Password=ssecure; Trusted_Connection=False;" />
    
  </connectionStrings>
  <SubSonicService defaultProvider="insProvider" enableTrace="false" templateDirectory="">
    <providers>
      <clear/>
      <add name="insProvider" type="SubSonic.SqlDataProvider, SubSonic"
      connectionStringName="InsConnectionString" generatedNamespace="DalInsumos"
      includeTableList="Sys_*|INS_*"
      includeProcedureList="*"
      includeViewList="SYS_*|INS_*"
      generateLazyLoads="true"
      generateRelatedTablesAsProperties="true"/>
    </providers>
  </SubSonicService>
</configuration>