<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="DepConnectionString" connectionString="Server=10.1.232.16; Database=Hospital;User ID=sa;Password=ssecure; Trusted_Connection=False;" />
  </connectionStrings>
  <SubSonicService defaultProvider="depProvider" enableTrace="false" templateDirectory="">
    <providers>
      <clear/>
      <add name="depProvider" type="SubSonic.SqlDataProvider, SubSonic"
      connectionStringName="DepConnectionString" generatedNamespace="DalDeposito"
      includeTableList="Insumo*"
      includeProcedureList="*"
      includeViewList="*"
      generateLazyLoads="true"
      generateRelatedTablesAsProperties="true"/>
    </providers>
  </SubSonicService>
</configuration>